:root{
    ---box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #dedddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    margin: 30px auto;
    width: 350px;
}

h2{
    font-size: 30px;
}

h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

.inc-exp-container{
    background-color: #fff;
    box-shadow: var(---box-shadow);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 20px;
}

.inc-exp-container > div{
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type{
    border-right: 1px solid #a4a4a4;
}

.money{
    font-size: 22px;
    letter-spacing: 1.3px;
    margin: 10px 0;
}

.money-minus{
    color: red;
    font-weight: bold;
}

.money-plus{
    color: green;
    font-weight: bold;
}

input[type="text"],input[type="number"]{
    border: .5px solid #bbb;
    display: block;
    padding: 10px;
    font-size: 15px;
    margin: 7px 0;
    border-radius: 2px;
    width: 100%;
}

.btn{
    cursor: pointer;
    background-color: #9c88ff;
    box-shadow: var(---box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.btn:hover{
    background-color: #7d65f7;
}

.text-to{
    font-size: 18px;
    font-weight: 100;
}

.red{
    color: red;
    font-weight: bold;
}

.green{
    color: green;
    font-weight: bold;
}

.list{
    list-style-type: none;
    margin-bottom: 40px;
}

.list li{
    background-color: #fff;
    box-shadow: var(---box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.list li.plus{
    border-right: 5px solid green;
}

.list li.minus{
    border-right: 5px solid red;
}

.delete-btn{
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 8px 13px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-110%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .delete-btn{
    opacity: 1;
}